.grid-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    background: linear-gradient(0deg, #17223b 0%, #263859 100%);
    color: white;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
    .grid-container {
        flex-direction: column
    }
}