.grid-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    background-image: url("../../assets/galleryBG.svg");
    background-attachment: fixed;
    color: #fff;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
    .grid-container {
        flex-direction: column
    }
}