.navbar{
    background: transparent;
    margin:0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}

.navbar .logo{
    font-size: 1.5rem;
}

.navLinks{
    width: 40%;
}

.navLinks ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navLinks a{
    color: black;
}

