.about {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
}

.about li {
  list-style: none;
}

.main {
  height: 60vh;
  background-image: url("./assets/aboutBG.jpg");
  background-size: 100% 120%;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.main h1 {
  font-size: 5rem;
  margin: 10px 20px;
  color: #ccc;
}

.about-card {
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.4);
  margin: 5vh 2vw;
  width: 60%;
  font-size: 0.5rem;
  display: flex;
  height: 30vh;
}

.about-card img {
  width: 30%;
  height: 100%;
  padding: 1px;
  align-self: center;
}

.about-card .description {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card .description h1 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.about-card .description p {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .main {
    height: 30vh;
    background-size: 100% 150%;
    background-position: bottom;
  }

  .about-card {
    margin: 5vh 5vw;
    width: 90vw;
    align-self: center;
  }

  .about-card img {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
}
